@import 'sassStyles/variables';
.address-item {
  background-color: $secondary-color;
  color: $text-color;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  & > * {
    margin: 0.5rem 0;
  }

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    width: 100%;
    color: $text-color;
    outline: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: $primary-color;
    line-height: 1rem;
    user-select: none;
    transition: color 0.3s ease-in-out;
    transition: scale 1s ease-in-out;

    &:hover {
      box-shadow: 0 8px 25px -8px #7367f0;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
