@import 'sassStyles/variables';

@media (max-width: 1200px) {
  .cart-item {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1201px) {
  .checkout-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 481px) {
  .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.5rem;
  }
}
@media (max-width: 480px) {
  .description {
    display: none;
    margin-left: 0.5rem;
  }
}

.checkout-flow {
  display: flex;
  margin: 1rem 2rem;
  margin-bottom: 0;

  & .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $secondary-color;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.2rem;
    border-radius: 0.25rem;
    cursor: pointer;

    &:hover {
      background-color: $primary-color;
    }
  }

  & .right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
  }

  & .nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $text-color;
    border: 0;
    outline: none;
    cursor: pointer;

    & .icon-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
      margin: 0;
      background-color: $secondary-color;
      border-radius: 0.25rem;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
