@import 'sassStyles/variables.scss';

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-color;
  background-color: #161d31;
  padding: 30px;

  & .item-name {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .item-rating {
    & .filledStar {
      color: #ff9f43;
    }

    & .outlineStar {
      color: #babfc7;
    }
  }

  & img {
    width: 100%;
    height: auto;
  }
}
