$text-color: #d0d2d6;
$primary-color: #6659f1;
// $secondary-color: #272e43;
$secondary-color: black;

$color-primary: rgb(115, 103, 240);
$color-secondary: rgb(130, 134, 139);
$color-success: rgb(40, 199, 111);
$color-danger: rgb(255, 159, 67);
$color-warning: rgb(234, 84, 85);
$color-info: rgb(0, 207, 232);
