@import 'sassStyles/variables';

.main-content {
  margin: auto;
  max-width: 80rem;
}

.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 1s, transform 500ms;
}

.nav-bar {
  // background-color: $secondary-color;
  background-color: black;
  color: $text-color;
  display: flex;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 15;

  & .app-title {
    color: $primary-color;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
  }

  & .cart-button {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    color: $text-color;

    &:hover {
      color: black;
      background-color: #ddd;
    }

    & .item-count {
      position: absolute;
      right: -6px;
      top: -2px;
      background-color: $primary-color;
      border-radius: 50%;
      font-size: 0.8rem;
      width: 1.3rem;
      height: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      user-select: none;
    }
  }

  & .sign-in,
  .signed-in {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    position: relative;

    & .icon {
      font-size: 1.6rem;
      cursor: pointer;
      user-select: none;
    }

    & .sign-out {
      margin-left: 1rem;
    }

    & button {
      display: flex;
      justify-content: center;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 1rem;
      color: white;
      background-color: $primary-color;
      outline: none;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      transition: color 0.3s ease-in-out;
      transition: scale 1s ease-in-out;

      &:hover {
        box-shadow: 0 8px 25px -8px #7367f0;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}

.page-title {
  color: $text-color;
  margin: 1rem 2rem 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
