@import 'sassStyles/variables';

@media (max-width: 1200px) {
  .cart-summary {
    margin: 2rem;
  }
}

@media (min-width: 1201px) {
  .cart-summary {
    margin: 2rem 2rem 2rem 0rem;
  }
}

.cart-summary {
  background-color: $secondary-color;
  color: $text-color;
  padding: 2rem;

  & > * {
    margin: 1rem 0;
    font-weight: 100;
    display: flex;

    & .total-amount {
      margin-left: auto;
    }
  }
}
